<h2>New book</h2>

<%= form_for @shelf, url: shelves_path do |shelf| %>
  <p>Title</p>
  <%= shelf.text_field :title %>
  <p>Body</p>
  <%= shelf.text_area :body %><br>
  <%= shelf.submit 'create book' %>

<% end %>